[apply]
	whitespace = fix

[commit]
	gpgSign = true

[core]
	editor = code --wait
	pager = delta

[delta]
	line-numbers = true
	navigate = true

[diff]
	colorMoved = default

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[format]
	signoff = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3

[mergetool]
	keepBackup = false

[pull]
	ff = true

[rebase]
	autostash = true

[status]
	submoduleSummary = true

[tag]
	gpgSign = true

[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/github_signing.pub

[url "git@github.com:"]
	insteadOf = https://github.com/
