progress = true
encryption = "gpg"

[data]
    email = "twopizza9621536@gmail.com"
    name = "Samuel Wu"

[diff]
    pager = "delta"

[gpg]
    recipient = "4FD44C7BA817716A1F8AA92300E054F190A69373"

[merge]
    command = "code"
    args = [
        "-w",
        "-m",
        "{{ "{{" }} .Destination {{ "}}" }}",
        "{{ "{{" }} .Source {{ "}}" }}",
        "{{ "{{" }} .Target {{ "}}" }}"
    ]
