AddKeysToAgent yes
IdentitiesOnly yes

Host *
{{ if eq .chezmoi.os "linux" }}
    ControlMaster auto
    ControlPath ~/.ssh/controlmasters/%r@%h:%p
{{ end }}
    ControlPersist 5
    ServerAliveCountMax 6
    ServerAliveInterval 300
    UseRoaming no

Host github
    Hostname github.com
    User git

Host amitie
    Hostname amitie
    IdentityFile ~/.ssh/amitie
